.first{
    height:300px;
    background-color: red;
}
.second{
    height:300px;
    background-color: blue;
}
.third{
    height:300px;
    background-color: violet;
}
.fourth{
    height:300px;
    background-color:green;
}