html{
    font-size:62.5%;
    width:100%;
    height:100%;
    
    /*overflow-x:hidden;*/
    
}
body{
    margin:0;
    padding:0;
    font-size:1.6rem;
    width:100%;
    box-sizing: border-box;
    
}
/*Navigation*/
.navbar{
    background-color:#fcefb4;
    font-size:1.5rem;

}
.navbar-brand{
    font-size:2.5rem;
    font-family: 'Lobster', cursive;
}
.container-fluid{
    padding:2% 10%;
    
}
.nav-item{
    padding:0% 5% 2%;
    font-family:'Open Sans', sans-serif;
}
img{
    width:60%;
}

/*HEADER*/
h1{
    font-size:3.5rem;
}
#header{
    /*padding:5% 8%;*/
    text-align:center;
    background-color:#fcefb4;
}
.header-txt{
    padding-top:10%;
    padding-right:8%;
    line-height:2;
}
.header-img{
    width:100%;
    border-radius:30px;
    position:relative;
}
#header p{
    font-family: 'Open Sans', sans-serif;
    font-size:2.0rem;
}
.header-btn{
    padding:3% 8%;
    margin:5% 0;
    background-color:#ffa200;
    color:white;
    border-radius:10px;
}
h1{
    font-family:'Playfair Display ', serif;
    font-weight:bolder;
}

/*.discount{
    color:white;
    font-weight: 600;
}
.discount-div{
    background-color:rgba(255, 162, 0, 0.3);
    position:relative;
    bottom:20%;
    width:50%;
    margin:0 auto;
}*/


/*Features*/
#features{
    background-color: #432818;
    padding:0 10%;
}
h2{
    text-align: center;
    color:white;
    font-family: 'Playfair Display', serif;
    font-weight:500;
    padding:5% 0;
}
.grid-container-1{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    text-align:center;
    padding:0 0 10% 0;
}
.item p{
    color:white;
    font-family: 'Open Sans', sans-serif;
}
.feature-btn{
    padding:3% 7%;
    background-color:#ffa200;
    color:white;
    border-radius:10px;
}
.feature-img{
    width:90%;
    height:80%;
    border-radius:10px;
}
.vertical-bar{
    height:80%;
}

/*TESTIMONIALS*/
#testimonials{
    text-align:center;
    padding:0 0 5% 0%;
    font-family: 'Open Sans', sans-serif;
    font-style:italic;
    font-weight:400;
    background-color:#fcefb4;
}
.client{
    width:25%;
    border-radius:100%;
    margin-top:5%;
}
.testimonial-btn{
    filter:invert(100%)
}
/*GALLERY*/
.grid-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    text-align:center;
}
#gallery{
    padding:5%;
    color:white;
    font-family: 'Raleway', sans-serif;
    background-color:#432818;
}
.photos{
    margin-left:10%;
    width:80%;
    border-radius:10px;
}

/*JANE'S STORY*/
#jane{
    text-align:center;
    padding-bottom:10%;
    background-color:#fcefb4;
}
.jane-story{
    padding:5% 0 5% 5%;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    font-style:italic;
    font-family:'Playfair Display', serif;
}
.jane-img{
    margin-top:10%;
    width:80%;
    margin:0 auto;
    
}
.jane-img-2{
    margin-top:10%;
    text-align:center;
    outline:none;
    border-radius:10px;
}
.jane-story p{
    font-size:3.5rem;
}
.jane-story button{
    padding:1% 4%;
    background-color: #ffa200;
    color:white;
}
form{
    margin-top:5%;
    font-family:'Playfair Display', serif;
}
input{
    outline:none;
    padding-right:10%;
    margin-bottom:2%;
}
::placeholder{
    color:#dee2e6;
}
.form-btn{
    padding:1% 4%;
    background-color: #ffa200;
    color:white;
    border-radius:10px;
}

/*FOOTER*/
#footer{
    color:#6c757d;
    font-family: 'Raleway', sans-serif;
    padding:2% 0 2% 3%;
    background-color:#432818;
}
.track{
    text-decoration:none;
    color:#6c757d;
}
.social-link{
    color:white;
    padding:1%;
    margin:1%;
    background-color: #ffa200;
    border-radius:50%;
}
#footer p{
    margin:2%;
}

/*MEDIA QUERIES*/
@media(max-width:990px){
    .jane-img{
        margin-left:35%;
    }
    .jane-img{
        margin:0 auto;
    }
    
    body{
        width:100%;
    }
}

@media(max-width:769px){
    .grid-container-1{
        grid-template-columns: repeat(2,1fr);
    }
    /*.feature-btn{
        margin-bottom:10%;
    }*/
    .feature-img{
        width:80%;
        height:55%;
    }
    .vertical-bar{
        height:55%;
    }
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .testimonial-txt{
        font-size:1.1rem;
    }
    .jane-story{
        font-size:1.2rem;
        
    }
    #testimonials{
        padding:0 5% 5% 5%;
    }
    body{
    width:100%;
    }
    .jane-img{
        margin:0 auto;
    }
    form p{
        padding:0 10%;
    }
    .jane-story p{
        padding:5%;
        font-size:2.5rem;
    }
    .navbar-brand{
        font-size:1.0rem;
    }
    
    
}

@media(max-width:480px){
    body{
        width:100%;
    }
    .grid-container-1{
        grid-template-columns:1fr;
    }
    /*.feature-btn{
        margin-bottom:10%;
    }*/
    .feature-img{
        width:70%;
        height:55%;
    }
    .vertical-bar{
        height:55%;
    }
    .grid-container{
        grid-template-columns:1fr;
    }
    .jane-story{
        font-size: 1.1rem;
        
    }
    #testimonials{
        padding:0 5% 5% 5%;
    }
    .jane-img{
        margin:0 auto;
    }
    form p{
        padding:0 10%;
    }
    .jane-story p{
        padding:5%;
        font-size:2.0rem;
    }
    .navbar-brand{
        font-size:1.0rem;
    }
}